@import "../pages/home/Home.scss";
@import "../pages/metallerie/Metallerie.scss";
@import "../pages/plomberie/Plomberie.scss";
@import "../components/banner/Banner.scss";
@import "../components/article/Article.scss";
@import "../components/prestations/Prestations.scss";
@import "../components/scroller/Scroller.scss";
@import "../components/contact/Contact.scss";
@import "../components/footer/Footer.scss";

#root{
    background-color: #FFFDF7;
}
*, html{
   box-sizing: border-box;
   font-size: 16px;
   font-family: 'Roboto Condensed', sans-serif;
   scroll-behavior: smooth;
}

body {
    margin: auto;
    background-color:#FFFDF7;
}